#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main-block {
    display: flex;
    flex-direction: column;
}

.input-block {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.input-text {
    margin-right: 10px;
}

.task-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}